body{
    background-image: url("j.png");
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1{
    color: rgb(198, 176, 32);
    text-align: center;
    font-size: 1.8em;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6em;
    color: rgb(32, 212, 212);
    text-decoration: none;
}